<div class="col-12">
  <h3>VISIT US AT OUR STORE</h3>
  <span id="texto">
    <ul>
      <p>
        Adress:
      </p>
      <li>500 Terry Francois Street</li>
      <li>San Francisco, CA 94158</li>
    </ul>
    <ul>
      <p>
        Opening Hours:
      </p>

      <li>Mon-Thu: 10:00am - 7:00pm</li>
      <li>Friday: 9:00am - 9:00pm</li>
      <li>Saturday: 9:00am - 5:00pm</li>
      <li>Sunday: Closed</li>
    </ul>
  </span>

  <span id="mapa">
    <iframe
      style=""
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14804.558056988692!2d-102.3389013!3d21.9291874!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa3ef12cfa3d78da5!2sSofttek!5e0!3m2!1ses!2smx!4v1588978054951!5m2!1ses!2smx"
      width="400"
      height="250"
      frameborder="0"
      style="border: 0;"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </span>
</div>

<div class="col-12" >
  <h2 class="text-center">ABOUT US</h2>

  <div class="col-4" id="texto_about">
    <P class="text-center">
      I'm a paragraph. Click here to add your own text and edit me. It’s easy.
      Just click “Edit Text” or double click me to add your own content and make
      changes to the font. Feel free to drag and drop me anywhere you like on
      your page. I’m a great place for you to tell a story and let your users
      know a little more about you.</P
    >
  </div>
</div>
