<h3 class="text-center">NEW ARRIVALS</h3>
<div class="arrival">
  <div
    *ngFor="let arrivale of ArrivalProducts"
    class="cardArrival"
    (mouseover)="MostrarDiv()"
    (mouseleave)="QuitarDiv()"
  >
    <!-- COLOCAMOS [] en el src para eliminar la interpolacion de strings -->
    <img [src]="arrivale.img" alt="" />
    <div class="detalles">
      <div>
        <span>{{ arrivale.model }}</span>
        <span>${{ arrivale.price }}</span>
      </div>
      <div (click)="GetIdToChangeScreen(arrivale.id)">
        <span>View Datails</span>
      </div>
    </div>
  </div>
</div>
