<div id="inicial">
  <div class="container">
    <div class="jumbotron" style="background-color: white;">
      <div class="row">
        <p class="col-5" style="margin-left: 23%;">
          Home / Men / I'm a Product
        </p>
        <p style="float: right;">< Prev | Next ></p>
      </div>
      <div id="imagen">
        <img src="../../../../assets/DATA/img/1-2img.JPG" alt="" />
        <div class="col-5" style="font-size: 14px;" id="txtImg">
          <p>
            I'm a product description. I’m a great place to include more
            information about your product. Buyers like to know what they’re
            getting before they purchase.
          </p>
        </div>
      </div>

      <div id="BuyProduct">
        <h4>I'm a Product</h4>
        <p>SKU:0012</p>
        <p>Cantidad:</p>

        <div class="col-4">
          <select name="" id="" class="form-control">
            <option value=""></option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
          </select>
        </div>
      </div>

      <div id="txtProduct">
        <p>Color:</p>
        <a href=""><span id="color1"></span></a>
        <a href=""> <span id="color2"></span></a>

        <div class="col-4">
          <button class="btn btn-outline-success btn-block mb-5">
            Agregar carrito
          </button>
          <p>
            PRODUCT INFO I'm a product detail. I'm a great place to add more
            information about your product such as sizing, material, care and
            cleaning instructions. This is also a great space to write what
            makes this product special and how your customers can benefit from
            this item. Buyers like to know what they’re getting before they
            purchase, so give them as much information as possible so they can
            buy with confidence and certainty.
          </p>
          <hr />
          <p>
            RETURN AND REFUND POLICY I’m a Return and Refund policy. I’m a great
            place to let your customers know what to do in case they are
            dissatisfied with their purchase. Having a straightforward refund or
            exchange policy is a great way to build trust and reassure your
            customers that they can buy with confidence.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
