.tarjeta {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.tarjeta > span {
  padding-left: 10px;
  width: 80%;
  display: block;
  margin: auto;
}

.tarjeta div {
  position: relative;
  display: flex;
  width: 100%;
  height: 85%;
  justify-content: center;
}

.tarjeta div * {
  position: absolute;
  overflow: hidden;
}

.tarjeta > div > img {
  height: 100%;
  width: 55%;
  z-index: 2;
}

.tarjeta > div > span {
  z-index: 3;
  display: block;
  bottom: 0;
  width: 80%;
  height: 0%;
  text-align: center;
  background: #ccc;
  opacity: 0.7;
  line-height: 70px;
  transition: 0.5s;
}

.tarjeta > div:hover span {
  height: 20%;
  width: 80%;
  display: block;
  transition: 0.5s;
}

/* span {
  text-align: center;
} */
