<header>
  <nav>
    <div class="row">
      <div class="col-12">
        <ul class="primerNavbar">
          <li>
            <i class="fi-interface-user mr-2"></i>
            <span>Log In</span>
          </li>

          <li>
            FREE SHIPPING
          </li>
          <li>
            <i class="fi-ecommerce-shopping-bag-2"></i>
          </li>
        </ul>
      </div>
    </div>
    <!-- SEGUNDO NAVBAR -->
    <div class="row">
      <div class="col-12">
        <ul class="segundoNavbar">
          <li>{{ tituloEmpresa }}</li>
          <li *ngFor= "let titulo of NavbarTitulo" >{{ titulo }}</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
