<div id="formulario ">
  <br />
  <h3 class="text-center">CUSTOMER CARE</h3>
  <p class="col-4" id="texto_fomulario">
    Have any questions or concerns ? We’re always ready to help! Call us at
    123-456-7890 or send us an email at info@mysite.com
  </p>

  <div class="col-2" id="formulario1">
    <input type="text " placeholder="Name" class="form-control" />
    <input type="text " placeholder="Email" class="form-control mt-3" />
    <input type="text " placeholder="Subject" class="form-control mt-3" />
  </div>

  <div class="col-2" id="formtextArea">
    <textarea name="" id="" cols="10" rows="6" class="form-control"></textarea>
  </div>
</div>

<div class="col-4" id="information1">
  <ul>
    <li><h4 class="mb-4">FAQ</h4></li>
    <li><h4 class="mb-4">How do I track my order?</h4></li>
    <li class="text-justify">
      I'm a paragraph. Click here to add your own text and edit me. It’s easy.
      Just click “Edit Text” or double click me to add your own content and make
      changes to the font. I’m a great place for you to tell a story and let
      your users know a little more about you.
    </li>
  </ul>

  <ul>
    <li><h4 class="mt-5">What are your delivery options?</h4></li>
    <li class="text-justify">
      I'm a paragraph. Click here to add your own text and edit me. It’s easy.
      Just click “Edit Text” or double click me to add your own content and make
      changes to the font. I’m a great place for you to tell a story and let
      your users know a little more about you.
    </li>
  </ul>
  <ul>
    <li><h4 class="mt-5">How do I return an item?</h4></li>
    <li class="text-justify">
      I'm a paragraph. Click here to add your own text and edit me. It’s easy.
      Just click “Edit Text” or double click me to add your own content and make
      changes to the font.
    </li>
  </ul>
</div>

<div class="col-4" id="information2">
  <ul>
    <li><h4 class="mb-4">How can I contact your couriers?</h4></li>
    <li class="text-justify">
      I'm a paragraph. Click here to add your own text and edit me. It’s easy.
      Just click “Edit Text” or double click me to add your own content and make
      changes to the font.
    </li>
  </ul>

  <ul>
    <li><h4 class="mt-5">Do you provide International delivery?</h4></li>
    <li class="text-justify">
      I'm a paragraph. Click here to add your own text and edit me. It’s easy.
      Just click “Edit Text” or double click me to add your own content and make
      changes to the font.
    </li>
  </ul>
  <ul>
    <li><h4 class="mt-5">What is your returns policy?</h4></li>
    <li class="text-justify">
      I'm a paragraph. Click here to add your own text and edit me. It’s easy.
      Just click “Edit Text” or double click me to add your own content and make
      changes to the font.
    </li>
  </ul>
</div>
